<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %> 
    <section class="about content">
        <h2>About This Blog</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, omnis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo esse temporibus illo sit maxime dolorum?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, soluta. Hic.</p>
    </section>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>